// Default Values
$primary-font : "Poppins", sans-serif;
$primary-color : rgba(221, 167, 255, 0.777);
$primary-hover : rgb(107, 107, 107);

// Import, mixin and extends
@mixin flexContainer($justify-content) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

// Standarts
body {
  position: relative;
  font-family: $primary-font;
  height: 100vh;
}

@media screen and (min-width: 768px) {

      .fixed {
        position: fixed;
        bottom: 20px!important;
        right: 20px!important;
        cursor: pointer;
        img {
          max-width: 50px!important;
        }
      }
      .super-container {
        @include flexContainer(space-between);
        width: 1240px;
        margin: auto;
        padding: 50px 25px;
        
        .logo {
          span{
            font-size: 2em;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
        .menu {
        display: inline!important;
          ul {
            display: flex;
            gap: 40px;
            
            li {
              font-size: 1.5em;
              
              a {
                color: black;
                position: relative;
                transition: .2s ease-in-out;
      
                &:hover {
                  text-decoration: none;
                  color: lighten($color: $primary-hover, $amount: 15);
      
                  &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -10px;
                    height: 1px; 
                    background-color: lighten($color: $primary-hover, $amount: 15);
                  }
                }
              }
            }
          }
        }
      
        .bars-menu {
          display: none;
        }
      }
      
      #profile {
        width: 1240px;
        margin: 20vh auto;
        @include flexContainer(center);
        flex-direction: row!important;
        gap: 10vh!important;
        .image {
      
          img {
            border-radius: 50%;
            width: 50vh!important;
          }
        }
      
        .text-content {
          @include flexContainer(center);
          flex-direction: column;
          gap: 20px;
      
          span{
            font: bold 1.5em $primary-font;
            color: $primary-hover;
          }
      
          h1 {
            font: bold 2.5em $primary-font;
            text-transform: uppercase;
            cursor: pointer;
          }
      
          p {
            font: bold 1.8em $primary-font;
            color: $primary-hover;
          }
      
          button {
            border: 2px solid black;
            background-color: transparent;
            border-radius: 50px;
            padding: 15px 30px;
            font: bold 1.2em $primary-font;
            transition: 250ms ease-in-out;
            cursor: pointer;
      
            &:hover {
              background-color: black;
              color: white;
            }
          }
        }
      }
      
      .top-text {
        width: 1240px;
        text-align: left;
        margin: 40px auto;
        h2 {
          font-size: 2em;
          text-align: left;
        }
        span {
          display: inline;
          color: $primary-hover;
          text-transform: uppercase;
          font-size: .75em;
          text-align: left;
        }
      }
      
      #about {
        width: 1240px;
        margin: 80px auto;
        height: 96vh;
        padding-top: 4vh;
        @include flexContainer(center);
        flex-direction: column;
        
        .content {
          @include flexContainer(center);
          flex-direction: column;
        
          .text-content {
        
            p {
              text-align: center;
              width: 920px!important;
              font-size: 1em!important;
              color:  $primary-hover;
            }
          }
        
          .cards {
            @include flexContainer(center);
            flex-direction: row!important;
            gap: 100px;
            margin: 40px auto;
            .card {
              @include flexContainer(center);
              flex-direction: column;
              border: 2px solid gray;
              border-radius: 25px;
              padding: 20px 80px;
              transition: 200ms ease-in-out;
              scale: .95;
        
              * {
                margin: 5px 0;
              }
              img {
                max-width: 35px;
              }
        
              p {
                text-align: center;
                color: gray;
              }
        
              &:hover {
                box-shadow: 0 0 10px violet;
                border: 2px solid purple;
                scale: 1;
        
                *:not(img, p) {
                  color: purple;
                }
              }
            }
          }
        }
      }
      
      
      
      #experience {
        width: 1240px;
        margin: 80px auto;
        height: 96vh;
        padding-top: 4vh;
        @include flexContainer(center);
        flex-direction: column;
      
        .content {
          @include flexContainer(center);
          flex-direction: column;
          gap: 25px;
          padding: 50px 0;
      
          .row {
            @include flexContainer(center);
            flex-direction: row!important;
            gap: 50px;
      
            .col {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 20px;
              border: 2px solid gray;
              padding: 10px 20px;
              border-radius: 10px;
              cursor: pointer;
              scale: 1.2;
              transition: 200ms ease-in-out;
      
              img{
                max-width: 25px;
              }
      
            }
            #html:hover {
              border: 2px solid rgb(230, 194, 127);
              box-shadow: 0 0 5px rgb(214, 155, 46);
              scale: 1.3;
            }
      
            #css:hover, #ts:hover, #jq:hover {
              border: 2px solid rgb(154, 154, 225);
              box-shadow: 0 0 5px rgb(125, 125, 255);
              scale: 1.3;
            }
            
            #sass:hover {
              border: 2px solid #e296bc;
              box-shadow: 0 0 5px #CC6699;
              scale: 1.3;
            }
      
            #js:hover, #ejs:hover {
              border: 2px solid rgb(255, 215, 140);
              box-shadow: 0 0 5px rgb(248, 245, 86);
              scale: 1.3;
            }
      
            #bs:hover {
              border: 2px solid #9f5adb;
              box-shadow: 0 0 5px #8B0BFC;
              scale: 1.3;
            }
      
            #twc:hover {
              border: 2px solid #9aeeef;
              box-shadow: 0 0 5px #0FB8BA;
              scale: 1.3;
            }
      
            #mongodb:hover {
              border: 2px solid #9ce78f;
              box-shadow: 0 0 5px #4FA63F;
              scale: 1.3;
            }
      
            #react:hover {
              border: 2px solid #a3dfea;
              box-shadow: 0 0 5px #0CDAFF;
              scale: 1.3;
            }
      
            #njs:hover {
              border: 2px solid gray;
              box-shadow: 0 0 5px black;
              scale: 1.3;
            }
      
            #nodejs:hover {
              border: 2px solid #b7e0a9;
              box-shadow: 0 0 5px #7AB268;
              scale: 1.3;
            }
      
            #npm:hover {
              border: 2px solid #e08181;
              box-shadow: 0 0 5px #CD3E3D;
              scale: 1.3;
            }
      
            #git:hover {
              border: 2px solid #e38e7f;
              box-shadow: 0 0 5px #F05539;
              scale: 1.3;
            }
      
            #json:hover {
              border: 2px solid #aee08f;
              box-shadow: 0 0 5px #6DBF39;
              scale: 1.3;
            }
          }
        }
      }

      #projects {
        width: 1240px!important;
        margin: 80px auto!important;
        height: 96vh!important;
        padding-top: 4vh!important;
        
        .content {
            .cards {
                flex-direction: row!important;
                .card {
                    width: 400px;
                    height: 500px;

                    img {
                        max-width: 300px;
                    }

                    h3 {
                        font-size: 2em;
                    }
                    .buttons {

                        button {
                            border-radius: 25px;
                            padding: 15px 25px;

                            &:hover {
                                background-color: black;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
      }

      #contact {
        width: 1240px;
        margin: 80px auto;
        height: 96vh;
        padding-top: 4vh;

        .content {
          width: 100%;
          @include flexContainer(space-between);

          .cards {
            .card {
              transition: 200ms ease-in-out;
              &:hover {
                scale: 1.1;
              }
            }
          }
          .form {
            input {
              width: 400px!important;
            }
          }
        }
      }

      footer {

        span {
          font-size: 1em;
        }
      }
}