// Default Values
$primary-font : "Poppins", sans-serif;
$primary-color : rgba(221, 167, 255, 0.777);
$primary-hover : rgb(107, 107, 107);

// Import, mixin and extends
@mixin flexContainer($justify-content) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

body {
  position: relative;

  .fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
    i {
      font-size: 2em
    }
  }
}

.super-container {
  @include flexContainer(space-between);
  position: relative;
  padding: 25px;
  
  .logo {
    span{
      font-size: 1em;
      text-transform: uppercase;
    }
  }

  .menu {
    display: none;
  }

  .bars-menu {
    display: block;
  }
  .toggleMenu {
    display: none
  
  }

  .toggleMenu.open {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 80%;
    right: 25px;
    padding: 20px;
    background-color: white;

    a {
      margin: 10px 0;
      color: black;
    }
  }
}

#profile { 
  @include flexContainer(center);
  flex-direction: column;
  .image {
    margin: 20px 0;
    img {
      border-radius: 50%;
      width: 30vh;
    }
  }

  .text-content {
    margin: 20px 0;
    @include flexContainer(center);
    flex-direction: column;
    gap: 5px;

    span{
      font: bold 1em $primary-font;
      color: $primary-hover;
    }

    h1 {
      font: bold 1.2em $primary-font;
      text-transform: uppercase;
    }

    p {
      font: bold 1em $primary-font;
      color: $primary-hover;
    }

    button {
      border: 2px solid black;
      background-color: transparent;
      border-radius: 50px;
      padding: 5px 10px;
      font: bold 1em $primary-font;
    }
  }
}

.top-text {
  margin-top: 50px;
  h2 {
    font-size: 1.5em;
    text-align: left;
  }
  span {
    display: none;
    color: $primary-hover;
    text-transform: uppercase;
    font-size: .5em;
    text-align: left;
  }
}

#about {
  @include flexContainer(center);
  flex-direction: column;
  
  .content {
    margin: 10px;
    @include flexContainer(center);
    flex-direction: column;
  
    .text-content {
  
      p {
        text-align: center;
        color:  $primary-hover;
        font-size: .75em;
        text-align: center
      }
    }
  
    .cards {
      @include flexContainer(center);
      flex-direction: column;
      margin: 40px auto;
      .card {
        @include flexContainer(center);
        flex-direction: column;
        border: 2px solid gray;
        border-radius: 25px;
        padding: 20px 60px;
        transition: 200ms ease-in-out;
        scale: .9;
  
        * {
          margin: 5px 0;
        }
        img {
          max-width: 35px;
        }
  
        p {
          text-align: center;
          color: gray;
        }
  
        &:active {
          box-shadow: 0 0 10px violet;
          border: 2px solid purple;
          scale: .85;
  
          *:not(img, p) {
            color: purple;
          }
        }
      }
    }
  }
}

#experience {
  @include flexContainer(center);
  flex-direction: column;

  .content {
    @include flexContainer(center);
    flex-direction: column;
    gap: 25px;
    padding: 50px 0;

    .row {
      @include flexContainer(center);
      flex-direction: column;
      gap: 20px;

      .col {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        border: 2px solid gray;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        scale: 1.05;
        transition: 200ms ease-in-out;

        img{
          max-width: 10px!important ;
        }

      }
      #html:active {
        border: 2px solid rgb(230, 194, 127);
        box-shadow: 0 0 5px rgb(214, 155, 46);
        scale: 1;
      }

      #css:active, #ts:active, #jq:active {
        border: 2px solid rgb(154, 154, 225);
        box-shadow: 0 0 5px rgb(125, 125, 255);
        scale: 1;
      }
      
      #sass:active {
        border: 2px solid #e296bc;
        box-shadow: 0 0 5px #CC6699;
        scale: 1;
      }

      #js:active, #ejs:active {
        border: 2px solid rgb(255, 215, 140);
        box-shadow: 0 0 5px rgb(248, 245, 86);
        scale: 1;
      }

      #bs:active {
        border: 2px solid #9f5adb;
        box-shadow: 0 0 5px #8B0BFC;
        scale: 1;
      }

      #twc:active {
        border: 2px solid #9aeeef;
        box-shadow: 0 0 5px #0FB8BA;
        scale: 1;
      }

      #mongodb:active {
        border: 2px solid #9ce78f;
        box-shadow: 0 0 5px #4FA63F;
        scale: 1;
      }

      #react:active {
        border: 2px solid #a3dfea;
        box-shadow: 0 0 5px #0CDAFF;
        scale: 1;
      }

      #njs:active {
        border: 2px solid gray;
        box-shadow: 0 0 5px black;
        scale: 1;
      }

      #nodejs:active {
        border: 2px solid #b7e0a9;
        box-shadow: 0 0 5px #7AB268;
        scale: 1;
      }

      #npm:active {
        border: 2px solid #e08181;
        box-shadow: 0 0 5px #CD3E3D;
        scale: 1;
      }

      #git:active {
        border: 2px solid #e38e7f;
        box-shadow: 0 0 5px #F05539;
        scale: 1;
      }

      #json:active {
        border: 2px solid #aee08f;
        box-shadow: 0 0 5px #6DBF39;
        scale: 1;
      }
    }
  }
}

#projects {
  @include flexContainer(center);
  flex-direction: column;

  .content {
    margin: 40px 0;
    .cards {
      @include flexContainer(center);
      flex-direction: column;
      gap: 40px;
      padding: 20px;
      .card {
        @include flexContainer(space-between);
        flex-direction: column;
        border: 2px solid gray;
        border-radius: 25px;
        padding: 20px 40px;
        * {
          margin: 10px 0;
        }
        img {
          max-width: 100%;
          border-radius: 25px;
        }

        .buttons {
          
          button {
            background-color: transparent;
            border-radius: 10px;
            padding: 5px 10px;
            transition: 200ms ease-in-out;
            font-weight: bold;
            &:active {
              background-color: black;
              color:white;
            }
          }
        }
      }
    }
  }
}

#contact {
  @include flexContainer(center);
  flex-direction: column;

  .content {
    margin: 40px 0;
    .cards {
      margin-bottom: 20px;
      @include flexContainer(center);
      flex-direction: column;
      .card {
        @include flexContainer(center);
        border: 2px solid gray;
        border-radius: 10px;
        padding: 10px 20px;
        margin: 10px 0;
        gap: 10px;
        img {
          max-width: 25px;
        }
      }
    }

    form {
      .form {
        @include flexContainer(center);
        flex-direction: column;

        input, textarea {
          width: 100%;
          margin: 10px 0;
          border: 1px solid gray;
          outline: none;
          padding: 10px 20px;
          border-radius: 5px;
        }

        textarea {
          height: 200px;
        }
      }
    }
  }
}

footer {
  @include flexContainer(center);
  padding: 20px 0;

  span {
    text-align: center;
    font-size: .8em;
  }
}